
Welcome to the host {{ ansible_fqdn }}!

This host is configured using Ansible. The last configuration
that was deployed through Ansible was at:
{{ ansible_date_time.iso8601 }}

Please have fun and enjoy your day ...
