# This is a default site configuration

worker_processes 1;

events
{
  worker_connections 1024;
}

http
{
  include mime.types;
  default_type application/octet-stream;

  sendfile on;

  keepalive_timeout 65;

  server
  {
    listen 80 default_server;
    listen [::]:80 default_server;

    # Remove logging of missing favicon
    location /favicon.ico
    {
      log_not_found off;
    }

    # Default location
    location /
    {
      ssi on;
      set $local_host $hostname;

      root /usr/share/nginx/html;
      index index.html index.htm;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html
    {
      root /usr/share/nginx/html;
    }
  }
}
